###################################################
##                                               ##
##            STARTUP CONFIGURATION              ##
##                                               ##
## Copy this file to .env and fill in the values ##
## to configure the application.                 ##
##                                               ##
## This file is not used by the application.     ##
##                                               ##
## It is only a template for the .env file.      ##
##                                               ##
## Created by: Ali Fuat Numanoglu                ##
##                                               ##
###################################################

###################################################
##            Project Configuration              ##
###################################################
ENV=dev # dev or prod

###################################################
##            Backend Configuration              ##
###################################################
NODE_PORT=5000 # Port for the Node.js application
NODE_HOST=localhost # Hostname for the Node.js application
NODE_API_PREFIX=/api # Prefix for the Node.js API. This is used to route API requests.
NODE_API_VERSION=v1 # Version of the Node.js API. This is used to version the API endpoints.
NODE_API_BASE_URL=http://localhost:${NODE_PORT}${NODE_API_PREFIX}/${NODE_API_VERSION} # Base URL for the Node.js API. This is used to make API requests from the frontend.

###################################################
##           Database Configuration              ##
###################################################
DATABASE_HOST=db # Hostname for the database server. For production, use the actual IP address.
DATABASE_PORT=5432
DATABASE_USER=postgres_user # Username for the database server. For production, use a secure username.
DATABASE_PASSWORD=postgres_password # Password for the database server. For production, use a secure password.
DATABASE_NAME=dream_job_db
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public"

###################################################
##              AI Configuration                 ##
###################################################
AI_PROVIDER=your_ai_provider # AI provider to use. Options: openai.
AI_API_KEY=your_api_key # API key for the AI provider.
AI_MODEL=your_ai_model # Model to use for the AI provider.

###################################################
##           Frontend Configuration              ##
###################################################
REACT_PORT=3000 # Port for the react application
REACT_HOST=localhost # Hostname for the react application
REACT_APP_URL=http://localhost:${REACT_PORT} # Base URL for the react application. This is used to make API requests from the frontend.