###################################################
##                                               ##
##            STARTUP CONFIGURATION              ##
##                                               ##
## Copy this file to .env and fill in the values ##
## to configure the application.                 ##
##                                               ##
## This file is not used by the application.     ##
##                                               ##
## It is only a template for the .env file.      ##
##                                               ##
## Created by: Ali Fuat Numanoglu                ##
##                                               ##
###################################################

###################################################
##            Project Configuration              ##
###################################################
ENV=dev # dev or prod

###################################################
##            Backend Configuration              ##
###################################################
NODE_PORT=5000 # Port for the Node.js application

###################################################
##           Database Configuration              ##
###################################################
DATABASE_HOST=db # Hostname for the database server. For production, use the actual IP address.
DATABASE_PORT=5432
DATABASE_USER=postgres_user # Username for the database server. For production, use a secure username.
DATABASE_PASSWORD=postgres_password # Password for the database server. For production, use a secure password.
DATABASE_NAME=dream_job_db
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public"